<!DOCTYPE html>
<html lang="en">

<header>
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="mt-5">Company name</h1>
        </div>
    </div>
</div>
</header>

<body>
    <div class="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">Travel Info</a></li>
            <li><a href="/">Travel History</a></li>
            <li><a href="/">My Information</a></li>
            <li><a href="/">Contact</a></li>
        </ul>
    </div>
</body>
</html>
