<!DOCTYPE html>
<html lang="en">

<header>
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="mt-5">Company name</h1>
        </div>
    </div>
</div>
</header>

<body>
    <div class="nav">
        <ul>
            <li> <%= link_to "Home", homepage_index %> </li>
            <li> <%= link_to "Request Travel", pages_request_path %> </li>
        </ul>
    </div>
</body>
</html>
