
.navbar {
    position: relative;
    min-height: 20px;
   
    text-align: right;
    font: small-caps 25px/25px "Arial", serif;

   

    .navbar-nav {
        font-size: inherit;
        list-style-type:none;
        display: inline-block;
       
    }
}